/* ==========================================================================
Base
========================================================================== */

html {
    font-size: 62.5%; /* 10px */
}

body {
    font-family: Arial, Tahoma, Verdana;
    font-size: 1.4rem;

    line-height: 1.4;

    color: #000;
    background: #fff;
}

::-moz-selection {
    text-shadow: none;

    background: #94167b;
}

::selection {
    text-shadow: none;

    background: #94167b;
}


/* ==========================================================================
 Typography global
========================================================================== */

a {
    text-decoration: none;

    color: #7db720;
}

a:hover {
    text-decoration: underline;
}

ol:last-child,
ul:last-child,
p:last-child { margin-bottom: 0; }

ol:first-child,
ul:first-child,
p:first-child { margin-top: 0; }


/* ==========================================================================
Modifiers / Helpers
========================================================================== */


/* ==========================================================================
Components
========================================================================== */

/*** Forms ***
========================================================================== */

/* Form - Base
========================================================================== */

::-webkit-input-placeholder { color: #000; }
:-moz-placeholder { color: #000; }
::-moz-placeholder { color: #000; }
:-ms-input-placeholder { color: #000; }

input,
select,
textarea {
    margin: 0;

    font-family: inherit;
    font-size: inherit;

    outline: none;
}

textarea {
    resize: none;
}

/* Form - Field - checkbox / radio - Base
========================================================================== */


/* Form - Select - Base
========================================================================== */


/* Form - Fields - Base
========================================================================== */

.field {
    margin-bottom: 5px;
}

.field:first-child {
    margin-top: 0;
}

.field:last-child {
    margin-bottom: 0;
}

/* Form - Field - default
========================================================================== */


/*** Buttons ***
========================================================================== */

/* Button - base
========================================================================== */

.btn,
input.btn,
button.btn {
    display: inline-block;
    cursor: pointer;
    border: 0;
}

/*** Logos ***
========================================================================== */

/* Logo - base
========================================================================== */

/* Logo - main
========================================================================== */

.logo--main {
    display: block;
    width: auto;
    height: auto;
    text-indent: -777em;
}

/*** Lists ***
========================================================================== */

/* List - base
========================================================================== */

.list {
    margin: 0;
    padding: 0;

    list-style: none;
}

/* ==========================================================================
Navigations
========================================================================== */

/* Nav - base
========================================================================== */


/* Nav - main
========================================================================== */


/* ==========================================================================
Blocks
========================================================================== */


/* ==========================================================================
Sections
========================================================================== */

/* Sec - Base
========================================================================== */

.inner {
    margin-left: auto;
    margin-right: auto;
}

/* Sec - head
========================================================================== */

.sec--head {

}

/* Sec - foot
========================================================================== */

.sec--foot {

}

/* ==========================================================================
Responsive
========================================================================== */

@media (max-width: 1024px) {

}

@media (max-width: 767px) {

}

@media (max-width: 600px) {

}

@media (max-width: 480px) {

}
