/* ==========================================================================
Root
========================================================================== */

html {
    font-size: 62.5%; /* 10px */
}

body {
    font-family: Arial, Tahoma, Verdana;
    font-size: 1.4rem;
    line-height: 1.4;
    color: #000;
    background: #fff;
}

::-moz-selection {
    text-shadow: none;
    background: #94167b;
}

::selection {
    text-shadow: none;
    background: #94167b;
}

/* ==========================================================================
Helpers
========================================================================== */

.inner {
    margin-left: auto;
    margin-right: auto;
}

/* ==========================================================================
Typography global
========================================================================== */

a {
    text-decoration: none;
    color: #7db720;
}

a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.2rem;
}

p { 
    margin: 10px 0; 
}

ol:last-child,
ul:last-child,
p:last-child { margin-bottom: 0; }

ol:first-child,
ul:first-child,
p:first-child { margin-top: 0; }

/* ==========================================================================
Components
========================================================================== */

/* Logo
========================================================================== */

.logo--main {
    display: block;
    width: auto;
    height: auto;
    text-indent: -777em;
}

/* ==========================================================================
Blocks
========================================================================== */

/* ==========================================================================
Lists
========================================================================== */

/* List
========================================================================== */

.list {
    margin: 0;
    padding: 0;

    list-style: none;
}

/* ==========================================================================
Navigations
========================================================================== */

/* Nav - main
========================================================================== */


/* ==========================================================================
Sections
========================================================================== */

/* Sec - head
========================================================================== */

.sec--head {

}

/* Sec - foot
========================================================================== */

.sec--foot {
    
}

/* ==========================================================================
Buttons
========================================================================== */

.btn,
input.btn,
button.btn {
    display: inline-block;
    cursor: pointer;
    border: 0;
}

/* ==========================================================================
Forms
========================================================================== */

/* Form global
========================================================================== */

::-webkit-input-placeholder { color: #8d8d8d; }
:-moz-placeholder { color: #8d8d8d; }
::-moz-placeholder { color: #8d8d8d; }
:-ms-input-placeholder { color: #8d8d8d; }

input,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
}

textarea {
    resize: none;
}

/* Styles input, textarea, select
========================================================================== */

/* Styles custom for input type radio/checkbox
========================================================================== */

/* Styles custom for select
========================================================================== */

/* Fields form
========================================================================== */

.field {
    margin-bottom: 5px;
}

.fields-group:after,
.field:after {
    display: block;
    content: '';
    clear: both;
}

.field:first-child {
    margin-top: 0;
}

.field:last-child {
    margin-bottom: 0;
}

.fields-group {
    margin-bottom: 20px;
}

.fields-group:last-child {
    margin-bottom: 0;
}

/* ==========================================================================
Responsive
========================================================================== */

@media (max-width: 979px) { }

@media (max-width: 767px) { }
 
@media (max-width: 600px) { }
 
@media (max-width: 480px) { }
